/target/
.settings/

# Compiled class file
*.class

#eclipse
.project
.classpath

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib

local.properties
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch


# Java annotation processor (APT)
.factorypath

